// stylesheet: code development utilities

	// PHP message box
		.php-message {

			position: fixed;

			top: 0;
			right: 0;

			z-index: 100;

			width: auto;
			height: 32px;
			margin: 0;
			padding: 0 16px;

			font-family: $prox-font;
			font-size: 10px;

			line-height: 32px;

			letter-spacing: 0.035em;

			text-transform: uppercase;

			color: white;
			background-color: transparentize(red, 0.25);

		}