// stylesheet: header layout styles

	// site header
		#site-header {

			top: 0;
			right: 0;
			left: 0;

			display: flex;

			flex-direction: row;
			justify-content: flex-start;
			align-items: center;

			width: 100%;
			height: 64px;
			margin: 0;
			padding: 0 64px 0 64px;

			background: {

				color: $dark;

				image: 

					linear-gradient(

						90deg,
						transparentize(white, 1.000) 0%,
						transparentize(white, 1.000) 65%,
						transparentize(white, 0.905) 100%

					)

				;

			}

			@media #{$small-only} {
				
				height: 48px;
				padding: 0 48px 0 48px;
			
			}

		}