// stylesheet: visual composer styles

	// base
		#wpb_visual_composer {

			.vc_subnav-fixed {

				top: 48px;
				left: 220px;

				width: calc(100% - 220px);
				padding-left: 0;

				border-bottom: none !important;

			}

		}